* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    ;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}



.btn {
    display: inline-block;
    background: radial-gradient(#fccf3e, #FFD853);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.social-icons li {
    display: inline-block;
    gap: 5;
    margin-right: 10px;
}

.social-icons li a {
    color:black;
    font-size: 20px;
}

.header {
    background: radial-gradient(#fff, #f5e8b9);
}

.header .row {
    margin-top: 70px;
}

.btn:hover {
    background: #563434;
}







ul {
    list-style-type: none;
}






.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-hieght 0.5s;
    }
    nav ul li {
        display: block;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2 ,.col-3, .col-4{
        flex-basis: 100%;
    }
}